{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
        integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

</head>
<body>
    <h1>Wish list items</h1>
    {% if wishes %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        <tbody>
            {% for wish in wishes %}
            <tr>
                <td>{{wish.description}}</td>
                <td><a href="{% url 'wishes_delete' wish.id %}">x</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% else %}
    <h3>No Wish Items Exist</h3>
    {% endif%}
    <hr>
    <button><a href="{% url 'wishes_create' %}">Add a Wish Item</a></button>
</body>
</html>